__pycache__
.DS_Store
**/.DS_Store
**/.tmp
.cursor/
agent/runs/

exp/*
logs/
misc/
results/
sandbox/
notebooks/
gold_*/
duckdb*/

*.csv
*.ipynb
*.key
*.parquet

service-account.json
gcs_credentials.env
.env
.mcp.json
